/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.Eyl.2020, 11:48:23
    Author     : NURDAN
*/

.default-color0.chart-series-line { -fx-stroke: #4c9900; }
.default-color1.chart-series-line { -fx-stroke: #ff0000; }
.default-color2.chart-series-line { -fx-stroke: #ff0000; }
.default-color3.chart-series-line { -fx-stroke: #ff0000; }
.default-color4.chart-series-line { -fx-stroke: #ff0000; }
.default-color5.chart-series-line { -fx-stroke: #ff0000; }
.default-color6.chart-series-line { -fx-stroke: #ff0000; }
.default-color7.chart-series-line { -fx-stroke: #ff0000; }
.default-color8.chart-series-line { -fx-stroke: #ff0000; }
.default-color9.chart-series-line { -fx-stroke: #ff0000; }
.default-color10.chart-series-line { -fx-stroke: #ff0000; }
.default-color11.chart-series-line { -fx-stroke: #ff0000; }
.default-color12.chart-series-line { -fx-stroke: #ff0000; }
.default-color13.chart-series-line { -fx-stroke: #ff0000; }
.default-color14.chart-series-line { -fx-stroke: #ff0000; }
.default-color15.chart-series-line { -fx-stroke: #ff0000; }
.default-color16.chart-series-line { -fx-stroke: #ff0000; }

.default-color0.chart-line-symbol{-fx-background-color: #4c9900 , #ffffff;}
.default-color1.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color2.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color3.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color4.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color5.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color6.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color7.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color8.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color9.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color10.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color11.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color12.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color13.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color14.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color15.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}
.default-color16.chart-line-symbol{-fx-background-color: #ff0000 , #ffffff;}



